.nav-link-custom {
  color: black; /* Override text color */
  text-decoration: none;
}

.nav-pills .nav-link-custom.active,
.nav-pills .show > .nav-link-custom {
  background-color: #fad74b !important;
  /* Override active text color */
}

.nav-link-custom:hover {
  background-color: #fad74b; /* Text color on hover */
  color: black;
  border-radius: 20px;
}

.img2 {
  width: 175px;
  height: auto;
}

.btn-custom {
  background-color: #f8932d;
  color: black;
}
.btn-custom:hover {
  background-color: #fc9935;
  color: black;
}

.vertical-line {
  border-left: 2px solid #ccc;
  height: 50px;
  margin: 0 10px;
}
